<br /><br /><br />
<h1 class="text-center">Dragon Ball Z</h1>
<hr />

<div class="container">
  <div class="roww">
    <div class="coll">
      <!-- <app-personajes [data]="personajes"> </app-personajes> -->
      <app-personajes> </app-personajes>
    </div>
    <div class="coll">
      <!-- [data]="personajes"  -->
      <app-agregar [nuevo]="nuevo">
        <!-- <app-agregar
        [nuevo]="nuevo"
        (onNuevoPersonaje)="agregarNuevoPersonaje($event)"
      > -->
      </app-agregar>
      <!-- [nuevo]="nuevo" -->
    </div>
  </div>
</div>
<!-- [value]="nuevo.nombre"
            (input)="capturarNombre($event)" -->
