<br /><br /><br />
<h1 class="text-center">Dragon Ball Z</h1>
<hr />

<div class="container">
  <div class="roww">
    <div class="coll">
      <h3>Personajes</h3>
      <hr />
      <ul class="list-group">
        <li>Krilin - 700</li>
        <li>Goku - 15,000</li>
        <li>Vegeta - 8,500</li>
      </ul>
    </div>
    <div class="coll">
      <h3>Agregar</h3>
      <hr />
      <form (ngSubmit)="agregar()">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            aria-describedby="emailHelp"
            placeholder="Nombre"
          />
        </div>
        <div class="form-group">
          <label for="poder">Poder</label>
          <input
            type="text"
            class="form-control"
            id="password"
            placeholder="Poder"
          />
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
      </form>
    </div>
  </div>
</div>
